@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
 /* жирный font-family: "Rubik Mono One", monospace; */
   /* тонкий font-family: "Yanone Kaffeesatz", sans-serif; */
   /* квадрат font-family: "Play", sans-serif; */
   /* богатый font-family: "Pacifico", cursive; */
::-webkit-scrollbar {
	width: 0px;
}
.container-light {
	width: 100%;
	height: 100vh;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	background-color: rgb(255, 68, 68);
    padding: 70px;
	background-image: url("../../assets/snow.png");
}
.container-dark {
	width: 100%;
	height: 100vh;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	background-color: rgb(60, 60, 60);
    padding: 70px;
	background-image: url("../../assets/snow2.png");
}
.content {
	width: 100%;
	height: 100%;
	display: flex;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.9);
    border-radius: 30px;
    padding: 20px;
}
.settings-list {
	width: 400px;
	height: 100%; 
	left: -400px;
	display: flex;
	flex-direction: column;
	background-color: rgba(240, 248, 255, 0);
	border-right: 5px solid white;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	padding-right: 20px;
	transition: all 0.5s ease;
	z-index: 99;
  }
  
  .settings-list-open {
	left: 0; 
  }
  
  .settings-list-closed {
	left: -400px; 
  }
  

  .openListBtn {
	display: none; 
	justify-content: center;
	align-items: center;
	position: absolute;
	text-align: center;
	right: -70px;
	top: 10px;
	width: 70px;
	height: 70px;
	background-color: rgba(165, 42, 42, 0);
	border: none;
	color: white;
	font-size: 16px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	border: 5px solid white;
  }
  .arrow-left {
	transform: rotate(180deg);
	transition: all 0.7s ease;
	font-size: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .arrow-right {
	transform: rotate(0deg);
	transition: all 0.7s ease;
	font-size: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
.settings-item {
	width: 100%;
	height: 100px;
    min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
    background-color: rgba(240, 248, 255, 0);
    font-size: 50px;
    color: white;
    padding: 20px;
    gap: 20px;
    transition: all 0.3s ease;
    border-bottom: 5px solid white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    /* border-radius: 30px; */
}

.settings-item p {
	width: 100%;
}
.settings-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.settings-selected{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(21, 211, 31, 0);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow-y: scroll;
}

@media screen and (max-width: 1550px) {
	.settings-list-open {
		width: 25%;
		padding-right: 0;
		
	}
	.container-dark,
	.container-light{
		padding: 0px;
	}
	.content{
		padding: 0;
	}
	.settings-selected{
		width: 80%;
	}
}
@media screen and (max-width: 1400px) {
	.openListBtn {
	  display: flex; 
	}
	
	.settings-list {
	  width: 400px; 
	  backdrop-filter: blur(10px);
	  position: absolute;
	}
  }
  @media screen and (max-width: 1200px) {
	.settings-selected{
		width: 90%;
	}
  }
  @media screen and (max-width: 600px) {
	.openListBtn{
		background-color: black;
	}
	.settings-list{
		width: 300px;
		left: -200px;
	}
	.settings-list-closed {
		left: -300px; 
	  }
	  .settings-list-open {
		left: 0;
	  }
	.settings-item{
		font-size: 30px;
		height: 80px;
	}
  }
 
