.btn-login-google {
    width: 100%;
    height: 47.75px;
    border-radius: 17px;
    border: 2px solid black;
    background-color: rgba(240, 248, 255, 0);
    font-size: 21px;
    font-weight: bold;
    outline: none;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.btn-login-google:hover {
    transform: scale(1.1);
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    outline: none;
}
.btn-login-google:active {
    transform: scale(1);
    outline: none;
}
.btn-login-google:focus {
    outline: none;
}