.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(21, 211, 31, 0);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    gap: 20px;
}
.tipoH1{
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.tipoH1-2{
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.tipoH1-3{
    font-size: 25px;
    color: white;
    font-weight: bold;
}
.content-1{
    width: 100%;
    height: 350px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0);
    padding: 20px;
    gap: 20px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
}
.content-1-1{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-1-1-1,
.content-1-1-2,
.content-1-1-3{
   width: 330px;
   height: 100%;
   background-color: rgba(51, 0, 255, 0);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   padding: 10px;
   gap: 20px;
}
.ava1,
.ava2,
.ava3{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: none;
    background: none;
    border: 5px solid rgb(255, 255, 255);
}



.content-2{
    width: 100%;
    height: 700px;
    min-height: 700px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 20px;
    gap: 20px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
    overflow-y: scroll;
}
















@media (max-width: 850px) {
.tipoH1{
        margin-left: 50px;
       }
}
@media (max-width: 1150px) {
    .tipoH1-2{
        font-size: 25px;
       }
}
@media (max-width: 750px) {
    .tipoH1-3{
        font-size: 20px;
       }
       .content-1{
        min-height: 900px;
        height: 900px;
       }
       .content-1-1{
        flex-direction: column;
       }
}