.results {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}

.results-container {
    font-size: 30px;
}

.result-item {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 70px;
}

.usernameAndOther {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 5px;
}

.result-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.result-item h2 {
    font-size: 20px;
}
.nenavizuCss{
    font-size: 45px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.result-item p {
    font-size: 20px;
}
.results-bar{
    height: 50px;
    width: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 3px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.results-title{
     width: 700px;
     font-weight: bold;
     font-size: 20px;
     color: white;
     text-align: end;
     margin-bottom: 10px;
}

@media (max-width: 700px) {
    .result-item {
        width: 90%;
        overflow: hidden;
    }
    .result-item img {
        width: 40px;
        height: 40px;
    }
    .result-item h2 {
        font-size: 15px;
    }
    .result-item p {
        font-size: 13px;
    }
    .result-item h2 {
        font-size: 20px;
    }
    .results-bar{
        width: 90%;
        height: 40px;
    }
    .results-title{
        width: 90%;
    }
    .nenavizuCss{
        font-size: 23px;
        margin-top: 5px;
    margin-bottom: 5px;
    }
    .results-container{
        gap: 10px;
        padding: 20px;
    }
    
}