.tipoH1{
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(21, 211, 31, 0);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    gap: 20px;
}
.tipoP{
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.container-theme{
    width: 100%;
    height: 600px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.theme-swicher{
    width: 350px;
    height: 150px;
    background-color: rgba(207, 59, 207, 0);
    border: 7px solid rgb(255, 255, 255);
    border-radius: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.theme-swicher-button-light{
    width: 120px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 68, 68);
    font-size: 70px;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-right: auto;
}
.theme-swicher-button-dark{
        width: 120px;
        height: 120px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 68, 68);
        font-size: 70px;
        transition: all 0.5s ease;
        cursor: pointer;
        margin-left: 195px;
}

@media (max-width: 850px) {
    .tipoH1{
            margin-left: 50px;
           }
           .theme-swicher{
            width: 300px;
           }
           .theme-swicher-button-dark{
            margin-left: 145px;
           }
    }