.container-light {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 68, 68);
	padding: 20px;
	background-image: url('../../../assets/snow.png');
}
.container-dark {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(60, 60, 60);
	padding: 20px;
	background-image: url('../../../assets/snow2.png');
}
.content{
	width: 425px;
	height: 450px;
	position: relative;
	background-color: rgb(224, 224, 224);
	border-radius: 10px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.9);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 30px;
	padding-top: 55px;
	gap: 15px;
}
.logo {
	position: absolute;
	height: 127.5px;
	width: 127.5px;
	background: none;
	top: -70px;
	left: 50%;
	transform: translateX(-50%);
	animation: none;
}


h1 {
	color: black;
	font-size: 38px;
	text-align: center;
}
.penis {
	margin-right: auto;
}
.input-container {
	width: 100%;
	height: 170px;
	background-color: rgba(47, 167, 167, 0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 19px;
	gap: 5px;
}
.input-code,
.input-login {
	width: 100%;
	height: 47.75px;
	padding: 8.5px;
	border-radius: 17px;
	border: 2px solid black;
	background-color: rgba(240, 248, 255, 0);
	font-size: 21px;
	font-weight: bold;
	outline: none;
	color: black;
	transition: all 0.3s ease;
}
.input-code-error,
.input-login-error {
	width: 100%;
	height: 47.75px;
	padding: 8.5px;
	border-radius: 17px;
	border: 2px solid rgb(255, 0, 0);
	background-color: rgba(240, 248, 255, 0);
	font-size: 21px;
	font-weight: bold;
	outline: none;
	color: black;
	transition: all 0.3s ease;
}


.btn1 {
	width: 100%;
	height: 47.75px;
	border-radius: 17px;
	border: 2px solid black;
	background-color: rgba(240, 248, 255, 0);
	font-size: 21px;
	font-weight: bold;
	outline: none;
	color: black;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease;
}
.btn1:hover {
	transform: scale(1.1);
	border: none;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	outline: none;
}




.input-password,
.input-password-2 {
	width: 100%;
	height: 47.75px;
	padding: 8.5px;
	border-radius: 17px;
	border: 2px solid black;
	background-color: rgba(240, 248, 255, 0);
	font-size: 21px;
	font-weight: bold;
	outline: none;
	color: black;
	transition: all 0.3s ease;
}

.input-password-2-error {
	width: 100%;
	height: 47.75px;
	padding: 8.5px;
	border-radius: 17px;
	border: 2px solid red;
	background-color: rgba(240, 248, 255, 0);
	font-size: 21px;
	font-weight: bold;
	outline: none;
	color: black;
	transition: all 0.3s ease;
}
.eye-btn {
	width: 30px;
	height: 30px;
	position: absolute;
	margin-top: 7px;
	margin-left: -50px;
	font-size: 35px;
	cursor: pointer;
	background-color: rgba(240, 248, 255, 0);
	border: none;
}
.pass-container {
	width: 100%;
}
.paragraf{
	text-align: center;
}