::-webkit-scrollbar {
	width: 0px;
}
.main-light {
	width: 100%;
	height: auto;
	background-image: url("../../assets/snow.png");
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	background-color: rgb(255, 68, 68);
}
.main-dark {
	width: 100%;
	height: auto;
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	background-color: rgb(60, 60, 60);
	background-image: url("../../assets/snow2.png");
}

.container1{
	margin-top: 50px;
	width: 90%;
	height: 630px;
	min-height: 630px;
	background-color: rgba(240, 248, 255, 0);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 40px;
	border-bottom: 5px solid rgb(255, 255, 255);
}
.content1{
	width: 100%;
	height: 75%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(0, 136, 255, 0);
}
.text-box{
	width: 50%;
	height: 100%;
    background-color: rgba(0, 0, 255, 0);
	text-indent: inherit;
	padding: 20px;
}
.txt1{
	font-size: 70px;
	font-weight: bold;
	color: aliceblue;
}
.txt2{
	font-size: 50px;
	font-weight: bold;
	color: aliceblue;
}
.logo-img{
	height: 400px;
	width: auto;
	animation: none;
	background: none;
}
.btn3{
	width: 500px;
	height: 80px;
	border-radius: 20px;
	border: 5px solid white;
	background-color: rgba(255, 255, 255, 0);
	color: white;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}
.btn3:hover{
	transform: scale(1.1);
}
.btn3:active{
	transform: scale(1);
}


.container2{
	margin-top: 50px;
	width: 90%;
	background-color: rgba(240, 248, 255, 0);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 60px;
	border-bottom: 5px solid rgb(255, 255, 255);
	padding-bottom: 50px;
}
.content2-1{
	width: 100%;
    background-color: rgba(0, 255, 255, 0);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}
.tipoH1{
	font-size: 60px;
	font-weight: bold;
	color: aliceblue;
}
.text{
	font-size: 40px;
	color: white;
}
.content2-2{
	width: 100%;
    background-color: rgba(34, 255, 0, 0);
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: column;
}
.content2-3{
	width: 100%;
    background-color: rgba(0, 21, 255, 0);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}
.text-box-2{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 255, 255, 0);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 30px;
}

 .container3{
	margin-top: 40px;
	width: 90%;
	min-height: 500px;
	background-color: rgba(240, 248, 255, 0);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 40px;
}
.content3{
	display: flex;
	background-color: rgba(18, 109, 189, 0);
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.logo-img-2{
	height: 120px;
	width: auto;
	animation: none;
	background: none;
}
.logo-2{
	font-size: 70px;
	color: white;
	font-weight: 800;
}
.text-box-3{
	width: 100%;
	height: 100%;
	background-color: rgba(240, 248, 255, 0);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	color: white;
	font-size: 35px;
	gap: 20px;
	padding-bottom: 20px;
}
.dis{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	font-size: 40px;
	
}
.discord{
	height: 100px;
	width: auto;
	animation: none;
	background: none;
} 

.user {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.user img {
	max-width: 50px;
	min-width: 50px;
	max-height: 50px;
	min-height: 50px;
	border-radius: 50%;
	outline: 5px solid white;
}

.username {
	color: white;
	font-size: 25px;
}

.nameAndSurname {
	color: rgb(233, 233, 233);
	font-size: 18px;
}

@media screen and (max-width: 1650px) {
	.search-bar{
		width: 40%;
	}
	.btn2{
		font-size: 25px;
		width: 150px;
	}
	.btn{
		font-size: 25px;
	}
}
@media screen and (max-width: 1500px) {
	.txt1{
		font-size: 65px;
	}
	.txt2{
		font-size: 45px;
	}
	
}
@media screen and (max-width: 1000px) {
	.container1{
		gap: 20px;
	}
	.text-box{
		width: 90%;
	}
	.txt1{
		font-size: 60px;
		text-align: center;
	}
	.txt2{
		font-size: 40px;
		text-align: center;
	}
	.logo-img{
		display: none;
	}
	.text{
		font-size: 35px;
	}
	.tipoH1{
		font-size: 50px;
	}
	.logo-2{
		font-size: 50px;
	}
}
@media screen and (max-width: 700px) {
	.container1{
		gap: 10px;
	}
	.container2 {
		gap: 40px;
	}
	.txt1{
		font-size: 50px;
	}
	.txt2{
		font-size: 35px;
	}
	.text{
		font-size: 30px;
	}
	.text-box-3{
		font-size: 30px;
	}
	.container3{
		gap: 20px;
	}
}

@media screen and (max-width: 550px) {
	.txt1{
		font-size: 40px;
	}
	.txt2{
		font-size: 30px;
	}
	.btn3{
		width: 100%;
	}
	.text{
		font-size: 25px;
	}
	.tipoH1{
		font-size: 40px;
	}
	.logo-2{
		font-size: 40px;
	}
}
@media screen and (max-width: 400px) {
    .content3{
		flex-direction: column;
		gap: 10px;
		justify-content: center;
		width: 100%;
	}
	.txt1{
		font-size: 35px;
	}
	.txt2{
		font-size: 25px;
	}
	.text{
		font-size: 20px;
	}
	.text-box-3{
		font-size: 30px;
	}
	
	.logo-2{
		font-size: 50px;
	}
}
