.container-light {
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	background-color: rgb(255, 68, 68);
    background-image: url("../../assets/snow.png");
}

.container-dark {
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	background-color: rgb(60, 60, 60);
    background-image: url("../../assets/snow2.png");
}