.header {
	width: 100%;
	height: 100px;
	min-height: 100px;
	border-bottom: 5px solid rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	gap: 20px;
	box-sizing: border-box; 
}

.user {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	text-decoration: none;
	margin-left: auto; 
}

.user img {
	max-width: 50px;
	min-width: 50px;
	max-height: 50px;
	min-height: 50px;
	border-radius: 50%;
	outline: 5px solid white;
}

.username {
	color: white;
	font-size: 25px;
}

.nameAndSurname {
	color: rgb(233, 233, 233);
	font-size: 18px;
}

.search {
	position: relative;
	width: 40%; /* Фиксированная ширина для поиска */
	min-width: 300px; /* Минимальная ширина */
}

.btn-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	width: auto;
	background-color: rgba(0, 255, 255, 0);
	width: 100%;
	max-width: 650px;
}

.logo {
	flex-shrink: 0; /* Запрещаем сжимать логотип */
	font-size: 60px;
	color: white;
	font-weight: 800;
}
.user{
	display: flex;
	width: 250px;
	background-color: rgba(240, 248, 255, 0);
}

.devider {
	flex-shrink: 0; /* Запрещаем сжимать разделитель */
	font-size: 90px;
	color: white;
}
.search-bar::placeholder{
	color: rgb(255, 255, 255);
}
.search-bar {
	width: 100%;
	height: 60px;
	border-radius: 20px;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	background-color: rgba(240, 248, 255, 0);
	border: 5px solid;
}

.btn {
	font-size: 35px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	transition: all 0.3s ease;
	white-space: nowrap; /* Запрещаем перенос текста в кнопках */
}

.btn:hover {
	transform: scale(1.1);
}

.btn2 {
	width: 200px;
	height: 60px;
	border-radius: 20px;
	border: 5px solid white;
	background-color: rgba(255, 255, 255, 0);
	color: white;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	white-space: nowrap;
}

.btn2:hover {
	transform: scale(1.1);
}

.quizzes {
	width: 100%;
	padding: 15px 30px;
	background: white;
	position: absolute;
	top: 70px;
	border-radius: 20px;
	white-space: normal; /* Убираем nowrap для списка */
}

.confirmEmail {
	width: 100%;
	background: white;
	display: flex;
	justify-content: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 3px;
	text-align: center;
}
.btn-cont-2{
	padding: 0px 5px;
	display: flex;
	gap: 35px;
	background-color: rgba(240, 248, 255, 0);
}

a {
    text-decoration: none; 
}
.quiz-item{
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  min-height: 50px;
}
.quiz-item-nikitalox{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
}
.quiz-list{
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-y: scroll;
}
.quiz-title{
	color: black;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
}
.user{
	color: black;
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
}

.notActive {
	transform: scale(1);
	color: rgb(201, 201, 201);
	cursor: default;
}

.notActive:hover {
	transform: scale(1);
}

@media screen and (max-width: 1350px) {
	.logo {
		font-size: 40px;
	}
}
@media screen and (max-width: 1250px) {
	.devider {
		display: none;
	}
	.header {
		flex-direction: column;
		height: 300px;
		min-height: 300px;
	}
	.search-bar{
		min-width: 300px;
	}
	.btn-cont {
		background-color: rgba(240, 248, 255, 0);
		width: 100%;
		height: 100px;
		
	}
	.btn-cont-2{
		flex-direction: column;
		gap: 5px;
	}
}
@media screen and (max-width: 500px) {
	.btn{
		font-size: 25px;
	}
	.user{
		width: 250px;
	}
	.btn-cont{
		gap: 25px;
	}
	.quiz-title{
		font-size: 15px;
	}
	.user{
		font-size: 12px;
	}
}
@media screen and (max-width: 370px) {
	.nameAndUsername{
		display: none;
	}
	.user{
		width: 50px;
	}
}