.container-light {
	width: 100%;
	height: 100vh;
	position: absolute;
	display: flex;
	align-items: flex-start;
	justify-content: center;
    flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	background-color: rgb(255, 68, 68);
	background-image: url("../../assets/snow.png");
}
.container-dark {
	width: 100%;
	height: 100vh;
	position: absolute;
	display: flex;
	align-items: flex-start;
	justify-content: center;
    flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	background-color: rgb(60, 60, 60);
	background-image: url("../../assets/snow2.png");
}

.content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    gap: 20px;
}
.content-title {
	font-size: 400px;
	font-weight: bold;
	color: white;
    border-bottom: 5px solid white;
}
.content-text {
	font-size: 40px;
	font-weight: bold;
	color: white;
}
.content-button {
	width: 400px;
    height: 100px;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    border: 5px solid white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
.content-button:hover {
    background-color: rgba(240, 248, 255, 0.3);
    transform: scale(1.05);
}

@media (max-width: 1200px) {
	.content-title {
		font-size: 200px;
	}
}

@media (max-width: 650px) {
	.content-title {
		font-size: 120px;
	}
    .content-text {
        font-size: 30px;
    }
    .content-button {
        width: 300px;
        height: 80px;
        font-size: 20px;
    }
}