.block {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.189);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 15px;
    width: 100%;
}

.translate-button{
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    right: -30px;
    top: -30px;
    width: 60px;
    height: 60px;
    background-color: #000000;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    font-size: 25px;
    color: rgb(255, 255, 255);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.imageCategory {
    border-radius: 10px;
    width: 100%;
    height: 150px;
    object-fit: cover; 
    object-position: center;
    border: 3px solid rgb(255, 255, 255);
}

.title {
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.title-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #33333300;
    position: relative;
}
.sort-block{
    width: 250px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
}
.filter-block{
    width: 250px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
}
.sort-block-open{
    width: 450px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px; 
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}
.filter-block-open{
    width: 450px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}
.sort-list{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 10px;
    transition: all 0.5s ease;
    overflow: hidden;
}
.filter-list{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 10px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sort-item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.sort-item:hover{
   transform: scale(1.1);
}
.filter-item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
}
.filter-item:hover{
   transform: scale(1.1);
}

.quizGrid {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px; 
    background-color: #e74d3c00;
    padding: 20px;
    width: 100%;
    justify-content: center;
    
}
.quiz-text-container {
    padding-bottom: 5px;
    display: flex;
   background-color: #bd423400;
   font-size: 20px;
   flex-direction: column;
   height: 80px;
   color: rgb(255, 255, 255);
   font-weight: bold;
   width: 100%;
   border-bottom: 3px solid rgb(255, 255, 255);
}
.Quiz-block {
    background-color: #ffffff43;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 15px;
    gap: 15px;
    width: 350px;
    height: 450px;
    border: 5px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.Quiz-block:hover {
    transform: translateY(-10px);
}
.page-info{
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.pagination{
    background-color: #d8090900;
    display: flex;
    align-items: center;
    height: 50px;
    gap: 20px;
}
.pagination-button{
    color: white;
    font-size: 30px;
    background-color: #3cff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.pagination-button:hover{
    transform: scale(1.2);
}
.user {
    font-size: 17px;
    color: #ffffff;
}

.description {
    font-size: 15px;
    color: #666;
    margin: 10px 0;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #ffffff00;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.tag {
    background-color: #e0e0e0;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 14px;
    color: #333;
}

.likes {
    font-size: 30px;
    color: rgb(255, 255, 255); 
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}

.liked {
	color: #e72914;
}

.comments {
    font-size: 30px;
    color: rgb(255, 255, 255); 
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}

.create-lobby {
    background-color: #e74c3c;
    color: white;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-lobby:hover {
    background-color: #bd4134;  
}

.notFound {
    color: white;
}
@media (max-width: 1120px) {
    .sort-block{
        width: 200px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        border: 3px solid rgb(255, 255, 255);
        font-weight: bold;
        font-size: 20px;
        position: relative;
    }
    .filter-block{
        width: 200px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        border: 3px solid rgb(255, 255, 255);
        font-weight: bold;
        font-size: 20px;
       position: relative;
    }
    .sort-block-open{
        width: 350px;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.288);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: rgb(255, 255, 255);
        border: 3px solid rgb(255, 255, 255);
        font-weight: bold;
        font-size: 20px; 
        position: relative;
        z-index: 999;
    }
    .filter-block-open{
        width: 350px;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.288);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: rgb(255, 255, 255);
        border: 3px solid rgb(255, 255, 255);
        font-weight: bold;
        font-size: 20px;
        z-index: 999;
        position: relative;
    }
    

        .title-content{
          flex-direction: column;
          height: auto;  
          gap: 10px;
        }
    }

@media (max-width: 500px) {


    .Quiz-block{
        width: 180px;
        height: 300px;
    }
    .block{
        width: 100%;
        padding: 0;
        padding-top: 50px;
    }
    .title{
        font-size: 40px;
    }
    .quiz-text-container{
        font-size: 10px;
        height: 40px;
    }
    .imageCategory{
        height: 100px;
    }
    .footer{
        height: 30px;
    }
    .likes{
        font-size: 15px;
    }
    .comments{
        font-size: 15px;
    }
    .translate-button{
        width: 40px;
        height: 40px;
        font-size: 15px;
        right: -20px;
        top: -20px;
    }
    .create-lobby{
        height: 40px;
        font-size: 12px;
    }
    .quizGrid{
        gap: 15px;
        padding: 5px;
    }
    .user{
        font-size: 10px;
    }
    .pagination{
        height: 30px;
        gap: 10px;
        margin-bottom: 50px;
    }
    .page-info {
        font-size: 20px;
    }
    .pagination {
        margin-bottom: 35px;
    }
}







