.list{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	background-color: rgba(0, 255, 255, 0);
	overflow-y: scroll;
}
.item{
	width: 100%;
	height: 100px;
	background-color: rgba(128, 128, 128, 0);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
	gap: 20px;
	border-radius: 15px;
	border: 5px solid white;
}
.content{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(39, 173, 173, 0);
	gap: 20px;
}
.img{
	width: 80px;
	height: 40px;
}
.text{
	font-size: 40px;
	font-weight: bold;
	color: white;
}
.checkbox{
	width: 50px;
	height: 50px;
	border: 5px solid white;
}
@media (max-width: 470px) {
  .text{
    font-size: 30px;
  }
  .checkbox{
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 380px) {
  .text{
    font-size: 20px;
  }
  .checkbox{
    width: 30px;
    height: 30px;
  }
  .img{
    width: 70px;
    height: 30px;
  }
}