
.settings-selected-item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(21, 211, 31, 0);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    gap: 20px;
}
.tipoH1{
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.profile-content{
    width: 100%;
    height: 700px;
    min-height: 700px;
    background-color: rgba(0, 255, 255, 0);
    border-radius: 30px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    gap: 20px;
}
.content-item-1{
    width: 100%;
    height: 180px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: flex-end;
    padding: 30px;
    gap: 20px;
    border-bottom: 5px solid white;
}
.profile-img{
    height: 130px;
    border-radius: 50%;
    border: 3px solid white;
}


.image-wrapper {
    position: relative;
    display: inline-block;
}

.avatar {
    box-sizing: content-box;
    width: 120px;
    height: 120px;
    cursor: pointer;
}


.profile-img{
    width: 100%;
    height: 100%;
    z-index: 6;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
}
.profile-img-saved{
    width: 100%;
    height: 100%;
    z-index: 6;
    border-radius: 50%;
    border: 4px solid rgb(61, 245, 0);
}
.profile-circle-btn {
    position: absolute;
    top: -10px; 
    right: 0px; 
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%; 
    color: rgb(0, 0, 0); 
    display: flex;
    align-items: center; 
    justify-content: center; 
    cursor: pointer; 
    font-size: 20px; 
    background-color: rgb(255, 255, 255);
    z-index: 8;
}

.profile-nick{
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.profile-btn-1{
    width: 200px;
    min-width: 200px;
    height: 50px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid white;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}
.profile-btn-1-save{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid white;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}
.profile-nick-input{
    width: 300px;
    height: 70px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    border: none; 
    border-bottom: 3px solid white;
    outline: none;
    font-size: 50px;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
}
.profile-btn-1-cancel{
    width: 150px;
    height: 50px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid white;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}
.content-item-2{
    width: 100%;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.48);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
}
.profile-name-div,
.profile-surname-div,
.profile-email-div,
.profile-password-div{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.profile-name-content,
.profile-surname-content,
.profile-email-content,
.profile-password-content{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.profile-btn-2{
    width: 200px;
    min-width: 200px;
    height: 50px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid white;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-weight: bold;
    padding: 10px;
    gap: 10px;
}

.test{
    font-size: 60px;
}

.darkAvatar.is-active {
    opacity: 1; 
}

.file-msg {
	margin-left: 10px;
	color: #fff;
}

.file-input {
	display: none;
}

.darkAvatar {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: white;
    opacity: 0;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    cursor: pointer;
}

.darkAvatar:hover {
    opacity: 1;
}


.profile-name-input,
.profile-surname-input{
    width: 300px;
    height: 40px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    border: none; 
    border-bottom: 3px solid white; 
    
    outline: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
}
.profile-btn-2-div{
    display: flex;
    gap: 20px;
}
.profile-btn-2-save{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid white;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}
.profile-btn-2-cancel{
    width: 150px;
    height: 50px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid white;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}


.profile-content-3{
    width: 100%;
    height: 200px;
    min-height: 200px;
    background-color: rgba(0, 255, 255, 0);
    border-radius: 30px;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}
.profile-btn-delete{
    width: 300px;
    height: 70px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid white;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}
.profile-btn-delete:hover{
    transform: scale(1.1);
    background-color: rgba(255, 0, 0, 0.5);
}
.profile-btn-logout{
    width: 300px;
    height: 70px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid white;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}
.profile-btn-logout:hover{
    transform: scale(1.1);
    background-color: rgba(255, 0, 0, 0.5);
}

.profile-content-1{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}



.profile-content-2{
    width: 100%;
    height: 400px;
    min-height: 400px;
    background-color: rgba(0, 255, 255, 0);
    border-radius: 30px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    gap: 20px;
    overflow-y: scroll;
    color: antiquewhite;
    font-size: 40px;
}

.findQuiz {
   width: 200px;
   min-width: 200px;
   height: 50px;
   background-color: #ffffff00;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 3px solid white;
   border-radius: 15px;
   outline: none;
   cursor: pointer;
   font-size: 20px;
   color: white;
   font-weight: bold;
}


.quiz-bubub{
    background-color: #ffffff00;
    width: 100%;
    height: 120px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 5px solid white;
    padding: 10px;
    gap: 10px;
}
.pointsAndOther{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0);
    width: 70%;
    height: 100%;
}
.quiz-name-bubub{
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.points-bubub{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
@media (max-width: 1050px) {
    .profile-nick{
        font-size: 40px;
    }
    .profile-nick-input{
        font-size: 40px;
        width: 250px;
        min-width: 250px;
    }
    .profile-btn-1-save,
    .profile-btn-1-cancel{
        font-size: 25px;
        width: 200px;
        min-width: 200px;
    }
    .profile-content-1{
        flex-direction: column;
    }
   .profile-btn-2-div{
    flex-direction: column;
    gap: 15px;
   }
   .profile-btn-2-save,
   .profile-btn-2-cancel{
    width: 200px;
    min-width: 200px;
    height: 45px;
   }
   .profile-content{
    height: 900px;
    min-height: 900px;
   }
   .content-item-2{
        height: 450px;
        gap: 10px;
   }
   .profile-name-div,
   .profile-surname-div,
   .profile-email-div,
   .profile-password-div{
       height: 130px;
       background-color: #bf1a1a00;
   }
   .content-item-2{
    border-radius: 0;
    height: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
   }

   .quiz-name-bubub{
    font-size: 30px;
   }
   .points-bubub{
    font-size: 25px;
   }
   .quiz-bubub{
    flex-direction: column;
    min-height: 200px;
    height: 200px;
    justify-content: center;
   }
   .findQuiz{
    width: 150px;
    min-width: 150px;
    height: 50px;
    min-height: 50px;
    font-size: 15px;
    border-radius: 10px;
   }
   .pointsAndOther{
    width: 100%;
    height: 100%;
   }
}







.change-password-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
    z-index: 99;
}
.change-password-container-desabled{
    display: none;
}

.btn1 {
	width: 100%;
	height: 47.75px;
	border-radius: 17px;
	border: 2px solid black;
	background-color: rgba(240, 248, 255, 0);
	font-size: 21px;
	font-weight: bold;
	outline: none;
	color: black;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease;
}
.btn1:hover {
	transform: scale(1.1);
	border: none;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	outline: none;
}




.input-password {
	width: 100%;
	height: 47.75px;
	padding: 8.5px;
	border-radius: 17px;
	border: 2px solid black;
	background-color: rgba(240, 248, 255, 0);
	font-size: 21px;
	font-weight: bold;
	outline: none;
	color: black;
	transition: all 0.3s ease;
}

.input-password-error {
	width: 100%;
	height: 47.75px;
	padding: 8.5px;
	border-radius: 17px;
	border: 2px solid red;
	background-color: rgba(240, 248, 255, 0);
	font-size: 21px;
	font-weight: bold;
	outline: none;
	color: black;
	transition: all 0.3s ease;
}
.eye-btn {
	width: 30px;
	height: 30px;
	position: absolute;
	margin-top: 7px;
	margin-left: -50px;
	font-size: 35px;
	cursor: pointer;
	background-color: rgba(240, 248, 255, 0);
	border: none;
}
.pass-container {
	width: 100%;
}
.content{
	width: 425px;
	height: 450px;
	position: relative;
	background-color: rgb(224, 224, 224);
	border-radius: 10px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.9);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 30px;
	padding-top: 55px;
	gap: 15px;
}
.content-done{
	width: 425px;
	height: 450px;
	position: relative;
	background-color: rgb(224, 224, 224);
	border-radius: 10px;
	box-shadow: 0 0 15px 0 rgba(0, 231, 35, 0.9);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 30px;
	padding-top: 55px;
	gap: 15px;
}
.logo {
	position: absolute;
	height: 127.5px;
	width: 127.5px;
	background: none;
	top: -70px;
	left: 50%;
	transform: translateX(-50%);
	animation: none;
}


h1 {
	color: black;
	font-size: 38px;
	text-align: center;
}
.penis {
	margin-right: auto;
}
.input-container {
	width: 100%;
	height: 170px;
	background-color: rgba(47, 167, 167, 0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 19px;
	gap: 5px;
}


.empty-message {
	color: rgb(255, 255, 255);
	font-size: 50px;
	text-align: center;
    font-weight: bold;
}

@media (max-width: 850px) {
    .profile-name-content,
    .profile-surname-content,
    .profile-email-content,
    .profile-password-content{
         font-size: 25px;
    }
    .profile-name-input,
    .profile-surname-input{
        width: 250px;
        height: 60px;
    }
    .profile-content{
        height: 1000px;
        min-height: 1000px;
        padding: 0;
       }
       .content-item-1{
        height: 400px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
       }
       .tipoH1{
        margin-left: 50px;
       }
       .profile-nick-input{
        width: 100%;
       }

       
}
@media screen and (max-width: 630px) {
    .profile-name-div,
    .profile-surname-div{
        height: 250px;
        background-color: #bf1a1a00;
        flex-direction: column;
        align-items: flex-start;
    } 
    .profile-password-div{
        height: 150px;
        background-color: #bf1a1a00;
        flex-direction: column;
        align-items: flex-start;
    }
    .profile-content{
        height: 1250px;
        min-height: 1250px;
        padding: 0;
       }
    .content-item-1{
        height: 650px;
    }
    .profile-email-div{
        height: 150px;
        background-color: #bf1a1a00;
    }
    .quiz-name-bubub{
        font-size: 20px;
       }
       .points-bubub{
        font-size: 15px;
       }
       .tipoH1{
       font-size: 35px;
       }
}
@media screen and (max-width: 550px) {
  .profile-content-3{
    flex-direction: column;
    height: 300px;
    min-height: 300px;
    background-color: #ffffff00;
  }
  .profile-btn-delete,
  .profile-btn-logout{
    width: 90%;
    font-size: 20px;
  }
  .profile-nick{
    font-size: 25px;
  }
  .profile-name{
    font-size: 22px;
  }
  .profile-surname{
    font-size: 22px;
  }
  .profile-email{
    font-size: 20px;
  }
  .content{
    width: 90%;
  }
}